.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-grid-container {
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 1%;

  .flex-grid {
    border: 1px #e7e7e7 solid;
    background: #fff;
    height: 12px;
    width: 12px;
    flex: 1;

    &.active {
      background: #000;
    }
  }
}