.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  h1 {font-size:45px;}
}


.flex-grid-container {
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 20px auto;

  .flex-grid {
    border: 1px #e7e7e7 solid;
    background: #fff;
    height: 22px;
    width: 24px;

    &.active {
      background: #000;
    }
  }
}

.button {
  margin:0 5px;
}